.doctor-login-container {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #7c8dff, #ff4b2b);
}

.container.card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.card-header {
  background-color: #bc56f3;
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.card-body {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control {
  background-color: #f8f9fa;
  color: #000;
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.errmsg {
  color: red;
}

.card-footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-radius: 0 0 1rem 1rem;
}

.btn-primary {
  background-color: #68737e;
  color: #fff;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn {
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  .container.card {
    padding: 1rem;
  }
}