.slick-slider {
    position: relative;
  }
  
  .slick-slide {
    text-align: center;
    height: 400px; 
  }
  
  .slick-slide img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  /* Custom CSS styles for the component */
.tp_widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:  #89badb;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.tp_widget:hover {
  background-color: #906fcb;
}

.tp_widget img {
  width: 64px;
  height: auto;
}

.tp_widget h5 {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .tp_widget {
    margin-bottom: 15px;
  }
}
